.logo{
    background-color:palegreen;
    height: 85px;
    width: 400px;
    margin: 0px auto;
    position: relative;

}
.image{
    height: 80px;
    position: absolute;
    top: 2%;
    bottom: 2%;
}
.first{
    left: 51%;
}
.second{
    right: 50%;
}